<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092740807412-5qsquvsndfov5thinm2iqkhcdiakljao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092740807412-5qsquvsndfov5thinm2iqkhcdiakljao</string>
	<key>API_KEY</key>
	<string>AIzaSyDACkm8y3__RMvMDWw1SWJJRSgUTAwZb3M</string>
	<key>GCM_SENDER_ID</key>
	<string>1092740807412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graybuster.grayEcommerce</string>
	<key>PROJECT_ID</key>
	<string>grayecommerce-627db</string>
	<key>STORAGE_BUCKET</key>
	<string>grayecommerce-627db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092740807412:ios:02beec08f15b8414147ca1</string>
</dict>
</plist>